<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbjdl.account.repository.AssetClassInfoRepository">
	<resultMap id="BaseResultMap" type="AssetClassInfo">
	  <id column="ID" jdbcType="DECIMAL" property="id" />
	  <result column="SYSTEM_CODE" jdbcType="VARCHAR" property="systemCode" />
	  <result column="ASSET_CLASS_CODE" jdbcType="VARCHAR" property="assetClassCode" />
	  <result column="ASSET_CLASS_NAME" jdbcType="VARCHAR" property="assetClassName" />
	  <result column="DEPRECITION_TYPE" jdbcType="VARCHAR" property="deprecitionType" />
	  <result column="USE_AGE" jdbcType="INTEGER" property="useAge" />
	  <result column="SUBJECT_CODE1" jdbcType="VARCHAR" property="subjectCode1" />
	  <result column="SUBJECT_CODE2" jdbcType="VARCHAR" property="subjectCode2" />
	  <result column="REMARK" jdbcType="VARCHAR" property="remark" />
	  <result column="STATUS" jdbcType="VARCHAR" property="status" />
	  <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
	  <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
      	<if test="systemCode != null" >
	      and SYSTEM_CODE = #{systemCode,jdbcType=VARCHAR}
	    </if>
      	<if test="assetClassCode != null" >
	      and ASSET_CLASS_CODE = #{assetClassCode,jdbcType=VARCHAR}
	    </if>
      	<if test="assetClassName != null" >
	      and ASSET_CLASS_NAME = #{assetClassName,jdbcType=VARCHAR}
	    </if>
      	<if test="deprecitionType != null" >
	      and DEPRECITION_TYPE = #{deprecitionType,jdbcType=VARCHAR}
	    </if>
      	<if test="useAge != null" >
	      and USE_AGE = #{useAge,jdbcType=INTEGER}
	    </if>
      	<if test="subjectCode1 != null" >
	      and SUBJECT_CODE1 = #{subjectCode1,jdbcType=VARCHAR}
	    </if>
      	<if test="subjectCode2 != null" >
	      and SUBJECT_CODE2 = #{subjectCode2,jdbcType=VARCHAR}
	    </if>
      	<if test="remark != null" >
	      and REMARK = #{remark,jdbcType=VARCHAR}
	    </if>
      	<if test="status != null" >
	      and STATUS = #{status,jdbcType=VARCHAR}
	    </if>
	  </trim>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID,
    SYSTEM_CODE,
    ASSET_CLASS_CODE,
    ASSET_CLASS_NAME,
    DEPRECITION_TYPE,
    USE_AGE,
    SUBJECT_CODE1,
    SUBJECT_CODE2,
    REMARK,
    STATUS,
    CREATE_TIME,
    LAST_UPDATE_TIME,
  </sql>
  <sql id="Base_Set_Clause">
    <set>
      <trim suffixOverrides=",">
        SYSTEM_CODE = #{systemCode,jdbcType=VARCHAR},
        ASSET_CLASS_CODE = #{assetClassCode,jdbcType=VARCHAR},
        ASSET_CLASS_NAME = #{assetClassName,jdbcType=VARCHAR},
        DEPRECITION_TYPE = #{deprecitionType,jdbcType=VARCHAR},
        USE_AGE = #{useAge,jdbcType=INTEGER},
        SUBJECT_CODE1 = #{subjectCode1,jdbcType=VARCHAR},
        SUBJECT_CODE2 = #{subjectCode2,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=VARCHAR},
  		LAST_UPDATE_TIME = sysdate(),
      </trim>
    </set>
  </sql>
  <sql id="Selective_Column_List">
    <if test="systemCode != null">
      SYSTEM_CODE,
    </if>
    <if test="assetClassCode != null">
      ASSET_CLASS_CODE,
    </if>
    <if test="assetClassName != null">
      ASSET_CLASS_NAME,
    </if>
    <if test="deprecitionType != null">
      DEPRECITION_TYPE,
    </if>
    <if test="useAge != null">
      USE_AGE,
    </if>
    <if test="subjectCode1 != null">
      SUBJECT_CODE1,
    </if>
    <if test="subjectCode2 != null">
      SUBJECT_CODE2,
    </if>
    <if test="remark != null">
      REMARK,
    </if>
    <if test="status != null">
      STATUS,
    </if>
      CREATE_TIME,
      LAST_UPDATE_TIME,
  </sql>
  <sql id="Selective_Value_List">
    <if test="systemCode != null">
      #{systemCode,jdbcType=VARCHAR},
    </if>
    <if test="assetClassCode != null">
      #{assetClassCode,jdbcType=VARCHAR},
    </if>
    <if test="assetClassName != null">
      #{assetClassName,jdbcType=VARCHAR},
    </if>
    <if test="deprecitionType != null">
      #{deprecitionType,jdbcType=VARCHAR},
    </if>
    <if test="useAge != null">
      #{useAge,jdbcType=INTEGER},
    </if>
    <if test="subjectCode1 != null">
      #{subjectCode1,jdbcType=VARCHAR},
    </if>
    <if test="subjectCode2 != null">
      #{subjectCode2,jdbcType=VARCHAR},
    </if>
    <if test="remark != null">
      #{remark,jdbcType=VARCHAR},
    </if>
    <if test="status != null">
      #{status,jdbcType=VARCHAR},
    </if>
    sysdate(),
    sysdate(),
  </sql>
  <select id="findList" parameterType="AssetClassInfo" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from asset_class_info
    <include refid="Example_Where_Clause" />
    <!-- order by CREATE_DATE -->
  </select>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <trim suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    from asset_class_info
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from asset_class_info
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="save" parameterType="AssetClassInfo">
    insert into asset_class_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Selective_Column_List"/>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <include refid="Selective_Value_List"/>
    </trim>
  </insert>
  <update id="update" parameterType="AssetClassInfo">
    update asset_class_info
    <include refid="Base_Set_Clause"/>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  
  <insert id="initAssetClass" parameterType="java.lang.String">
   INSERT into asset_class_info(SYSTEM_CODE, ASSET_CLASS_CODE, ASSET_CLASS_NAME, DEPRECITION_TYPE,USE_AGE,SUBJECT_CODE1, SUBJECT_CODE2, STATUS, create_time, last_update_time)
	select #{systemCode,jdbcType=VARCHAR}, ASSET_CLASS_CODE, ASSET_CLASS_NAME, DEPRECITION_TYPE,USE_AGE,SUBJECT_CODE1, SUBJECT_CODE2, STATUS,SYSDATE(),SYSDATE() 
	from asset_class_info where system_code = 'DEFAULT'
  </insert>
</mapper>