<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]  %c %-5level  - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]  %c %-5level  - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="logFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/account-web.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/account-web.%d{yyyy-MM-dd}.zip</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</Pattern>
		</layout>
	</appender>
	<logger name="org.mybatis.spring" level="INFO" />
	<logger name="org.apache.ibatis" level="INFO" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" />
	<logger name="java.sql.Statement" level="DEBUG" />
	<logger name="java.sql.Connection" level="DEBUG" />
	<logger name="java.sql.ResultSet" level="DEBUG" />

	<logger name="com.alibaba" level="INFO" />
	<logger name="org.apache.commons" level="INFO" />
	<logger name="org.apache.zookeeper" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	<logger name="org.quartz" level="INFO" />
	<logger name="com.zbjdl.account.repository" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="logFile" />
	</root>
</configuration>
