<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 全局的映射器启用或禁用缓存。 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 全局启用或禁用延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 允许或不允许多种结果集从一个单独的语句中返回 -->
		<setting name="multipleResultSetsEnabled" value="true" />
		<!-- 使用列标签代替列名 -->
		<setting name="useColumnLabel" value="true" />
		<!-- 允许JDBC支持生成的键 -->
		<setting name="useGeneratedKeys" value="false" />
		<!-- 配置默认的执行器 -->
		<setting name="defaultExecutorType" value="SIMPLE" />
		<!-- 设置超时时间 -->
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>
 <!-- 实体类别名 -->    
  <typeAliases>
  		<package name="com.zbjdl.account.model" />
  </typeAliases>
  
  <!-- 类型转换处理器 -->
  <typeHandlers>
  <typeHandler  handler="com.zbjdl.common.respository.mybatis.AmountTypeHandler"
        javaType="com.zbjdl.common.amount.Amount" />
  </typeHandlers>
	
  <!-- 映射文件 -->
  <mappers>
  	<mapper resource="sqlmap/AssetClassInfoMapper.xml"/>
  	<mapper resource="sqlmap/AssetInfoMapper.xml"/>
  	<mapper resource="sqlmap/AssistAccountInfoMapper.xml"/>
  	<mapper resource="sqlmap/CompanyInfoMapper.xml"/>
  	<mapper resource="sqlmap/DeprecitionDetailMapper.xml"/>
  	<mapper resource="sqlmap/CurrencyInfoMapper.xml"/>
  	<mapper resource="sqlmap/InvoiceInfoMapper.xml"/>
  	<mapper resource="sqlmap/SubjectInfoMapper.xml"/>
  	<mapper resource="sqlmap/SystemInfoMapper.xml"/>
  	<mapper resource="sqlmap/TaxInfoMapper.xml"/>
  	<mapper resource="sqlmap/VoucherInfoMapper.xml"/>
  	<mapper resource="sqlmap/VoucherSubInfoMapper.xml"/>
  	<mapper resource="sqlmap/AccountSettleInfoMapper.xml"/>
  	<mapper resource="sqlmap/AssetDeprecitionInfoMapper.xml"/>
  </mappers>
</configuration>